*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.App{
   display: flex;
   flex-direction: row; 
}
html{
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body{
    background-color: #0E0E10;
}