@mixin display{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
        h4{
            position: absolute;
            top: 20px;
            left: 20px;
        }

       @include display;
       position: relative;
       top: 0;
       flex-direction: column;
       height: 30vh;
       width: 100%;
       background: linear-gradient(180deg,  #16161d , #1d1d2573);
       color: white;
        overflow: hidden;
       .heading{
        letter-spacing: 2px;
        font-size: 2.5rem;
        text-shadow: 2px 2px gray;
       }
       .short-text{
        font-size: 0.8rem;
       }
       .slideText{
        
        font-size: 20vh;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        color: #1e1e28;
        white-space: nowrap;
        font-weight: bold;
        text-transform: uppercase;
       }

       .btn{
        position: absolute;
        top: 20px;
        right: 20px;
       }
       .addBtn{
        position: absolute;
        right: 20px;
        bottom: 20px;
        a{
            @include display;
        }
       }
       button{
        background-color: black;
        border: none;
        width: 40px;
        height: 40px;
        @include display;
        border-radius: 50%;
        cursor: pointer;
       }
    }